body {
    background: linear-gradient(steelblue,white) no-repeat center center fixed;
    text-align: center;
    background-size: cover;
}

.containerrr {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 15%;
}

.signup {
    position: absolute;
    top: 10px;
    right: 100px;
    color: black;
    font-family: Arial;
    font-size: 16px;
    text-decoration: none;
}

.joolelogo {
    width: 260px;
    height: 130px;
}

h {
    font-size: 19px;
    font-family: Arial
}

.username {
    width: 370px;
    height: 23px;
    border-radius: 3px;
    border: inherit;
}

.password1 {
    width: 370px;
    height: 23px;
    border-radius: 3px;
    border: inherit;
}

.login {
    position: absolute;
    right: 22.5%;
    background-color: steelblue;
    color: white;
    font-size: 10px;
    border-radius: 3px;
    border: inherit;
    width: 80px;
    height: 22px;
}

::placeholder {
    padding-left: 10px;
}


#registeruser {
    text-align: left;
    font-family: Arial;
    font-size: 17px;
}

#signbut {
    background-color: steelblue;
}

label {
    position: absolute;
    left: 3px;
}

#e {
    position: absolute;
    left: 200px;
}

.aa {
    position: relative;
    left: 200px;
}

.lableStyle {
    position: relative;
    left: 200px;
    height: 30px;
    width: 200px;
}

.profilepic {
    position: relative;
    left: 150px;
    height: 60px;
    width: 200px;
}

.addon {
    position: absolute;
    left: 35%;
    width: 650px;
    height: 400px;
}

#profilepic {
    width: 60px;
}

/* style glyph 
.inner-addon .fas {
    position: ;
    padding: 10px;
    pointer-events: none;
}

/* align glyph 
.left-addon .fas {
    left: 0px;
}

.right-addon .fas {
    right: 0px;
}

/* add padding  
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}*/
